[2019-06-06 16:22] daviddias opened #13 "Welcome to the 🏕 2019 IPFS Camp 🌌 Content Repo 🚀 🚀 🚀"
## Greetings @ipfs/ipfs-camp-2019-attendees 👋🏽

### I'm psyched to welcome you to the 🏕 2019 IPFS Camp 🌌 Content Repo 🚀 🚀 🚀

It is in this repo that you will find the content needed for the Courses, interact with Trainers and Speakers on content, give feedback, contribute and then post-camp, push and share the knowledge you learned and created. All of these interactions will become way more clear

[2019-06-06 16:39] ianopolous commented on #13
G'day Everyone!

I'm Ian Preston, from Australia, but living in Oxford (UK). Today I had Vegemite on toast. :-)

I'm excited about making the web more secure and reliable with IPFS.

I'm looking forward to meeting more smart and fun people at IPFS camp and solving difficult problems!

I spend most of my time working on a private storage and social network on IPFS - [Peergos](https://github.com/pee

[2019-06-06 16:51] daviddias commented on #13
Hi everyone! I'll take the opportunity to introduce myself as well :D

I'm David Dias, originally from Lisbon Portugal, but been all over planet earth for the last 5~6 years. For breakfast I had a delicious _Gemüsesandwich_ (thats a Vegetable Sandwich in German) and delicious black coffee!.

I'm psyched about IPFS as it is a fundamental building block, a protocol, to create powerful and distribute

[2019-06-06 17:00] roignpar commented on #13
Hi everyone!

I'm Robert Ignat, from Romania.

I had [zacuscă](https://en.wikipedia.org/wiki/Zacusc%C4%83) for breakfast (there seems to be a veggie trend here).

I'm excited about IPFS' potential to decentralize the web and data storage in general.

I'm looking forward to meeting all you great people at IPFS Camp and learning as much as possible about p2p systems.

I'm not working on anything inv

[2019-06-06 17:17] olizilla commented on #13
🙌 @olizilla of old London town here!

This morning, during an otherwise mundane breakfast of oaty hoops, this happened ✨🔆✨

![IMG_20190606_081704_exported_stabilized_8177289392960472031](https://user-images.githubusercontent.com/58871/59052206-75829c80-8886-11e9-8a93-c076bdb75856.gif)

I'm into IPFS for a future where we can meaningfully contribute to the co-hosting of data we care about.

At camp

[2019-06-06 17:30] nuke-web3 commented on #13
Hey hey hey! I'm Dan Shields :grin: @nukemandan
Hailing from Colorful Denver Colorado :sunglasses: :mountain: :sun_with_face:

Breakfast is always coffee - Black :coffee: .

What excites me about IPFS? I am passionate about all things Distributed Web ([Web3](https://web3.foundation/)). Blockchain is my main gig, but I know it is only a _tiny_ part of the true decentralized infra future. IPFS (and

[2019-06-06 17:46] koalalorenzo commented on #13
Hello Hello Hello!
My name is [Lorenzo](https://setale.me/), I am Italian but I come from Copenhagen, Denmark.

![tenor](https://user-images.githubusercontent.com/33528/59054441-fd22d800-8893-11e9-827c-d329766addbe.gif)

This morning my breakfast was made of 2 boiled eggs, food supplements 💪, tea and a grilled cheese sandwich. I am excited about IPFS because I think it is one of the building block

[2019-06-06 17:54] kk3wong commented on #13
Hello Everyone!

I'm Kevin Wong @kk3wong , from Hong Kong. I used to live in Toronto, Canada for many years but I moved back to Hong Kong couple of years ago.

I just had my son's left over bread roll for today's breakfast (which I always do :tired_face:)

I started my university with learning Java, Html, MySQL etc... years ago and ended up landing in a commercial field. The excitement of IPFS kin

[2019-06-06 17:55] mib-kd743naq commented on #13
Hi there! I am Peter Brown or @mib-kd743naq ( just **Mib**, and no, that's not my main nickname 😁 )

I am hailing from near Germany's coal-country [Rheinland](https://en.wikipedia.org/wiki/Rhineland)

This morning I skipped breakfast ( and 11sies, and lunch, and am already late for dinner ) because of a production issue. One 🌟, would not recommend.

I am excited about IPFS and the IPLD subset in p

[2019-06-06 18:02] jessicaschilling commented on #13
I'm Jessica (@jessicaschilling) and I just moved back home to beautiful Boulder, Colorado (waves at @NukeManDan)!

I skipped breakfast today because I had to go to the dentist, but on my walk to the dentist I got to look at this:

![image](https://user-images.githubusercontent.com/1507828/59055008-1dca3e00-8852-11e9-88a6-5c956b50647d.png)

Tons of things excite me about IPFS, but the broadest-poss

[2019-06-06 18:38] vasa-develop commented on #13
Hey Everyone! Vaibhav(aka **vasa**) form India here!
I had chapati and tea for breakfast (seems like breakfast is part of the intro here :grin:)

I am a dropout from IIT Delhi (dropped out in 2018 Jan). I run a startup named [**TowardsBlockchain**](https://towardsblockchain.com). We have a really passionate team of people working on Web3.0. Also, I am a speaker and writer. I love writing articles

[2019-06-06 19:46] vasa-develop commented on #13
@olizilla
Your previous video is already rad! You got the audience all charged up :+1:

[2019-06-06 19:59] b5 commented on #13
Hi all! I'm @b5 <sparkle_pony_2000@qri.io>, a Canadian living in Brooklyn.
You may know me from such roles as "guy holding the bottom of the poster"
in @olizilla's bitswap video.

I legitimately cannot remember what I had for breakfast, but I'm sure it
was tasty, and involved coffee. Anyway, I work at qri.io where we bring the
open source way of doing things to data science. We're built on IPFS, a

[2019-06-06 21:25] autonome commented on #13
Hi, hola, 你好!

My name is Dietrich Ayala, and I've recently moved to San Francisco, California. I used to live in Portland for a long time. I'm adjusting to being Californian again, give me time.

I don't eat breakfast, but I did just have noodle soup for lunch, which we make at home many times every week (I really should publish this recipe...).

![IMG_20190606_131752](https://user-images.githubu

[2019-06-07 05:58] steven004 commented on #13
Hello Everyone!

I am Steven from IPFS-Force Community, based in - Shanghai China🇨🇳. I have been in the magic city for more than ten years, focusing on network, security and storage technology.

For the breakfast, I think you might be really interested. This picture is a part of it, plus honey water and delicious Baozi 😉.

<img src="https://user-images.githubusercontent.com/10411723/59084781-090fa

[2019-06-07 10:19] gnunicorn commented on #13
Hey folks,

it's Ben, from Germany, mostly working from Berlin and Magdeburg nowadays, but used to live in Barcelona -- so very happy to go back there!

I didn't have breakfast yet, but you made me hungry. So, I made myself a little something...

![WhatsApp Image 2019-06-07 at 11 26 47](https://user-images.githubusercontent.com/40496/59094797-3bada680-8917-11e9-80d6-c2cc42992cdd.jpeg)

---

For IP

[2019-06-07 14:30] lidel commented on #13
Hi friends!

I'm @lidel, also known as Marcin Rataj.
Living in Lublin, Poland. Had a coffee-based breakfast.

I've created and maintain [ipfs-companion](https://github.com/ipfs-shipyard/ipfs-companion/) browser extension,
and currently work at Protocol Labs on IPFS at the intersection of [Web Browsers](https://github.com/ipfs/in-web-browsers), [GUIs](https://github.com/ipfs/ipfs-gui) and [i18n](ht

[2019-06-07 14:34] JustMaier commented on #13
Hey,  ʎǝH,

My name is Justin Maier! I say I'm from Seattle, but by my actually from a super beautiful place (especially this time of year), called North Bend. It's about 30 minutes east in a valley surrounded by mountains. It was made famous by the cult classic from the 90s, Twin Peaks.

![image](https://user-images.githubusercontent.com/607609/59111698-676c6480-88f6-11e9-8578-ba8a3816a17a.png)

[2019-06-07 17:57] AquiGorka commented on #13
Hello y'all!

My name is Gorka, I was born in Mexico City, lived there for 22 years, then moved to Playa del Carmen (amazing Caribbean destination) for 5 years, then moved to Bueno Aires, Argentina also for 5 years and 2 years ago moved to Barcelona, Spain - planning on moving somewhere else once again.

Today I had my regular avocado with sunny-side up egg and mate:
![sunny-side up](https://user-

[2019-06-07 18:51] xavivives commented on #13
Hey hey! Xavi here, from just a couple hours away from the event.
I don't  have breakfast but I saw this beauty on a lemon tree on our little solarpunk plot of land.

![IMG-20190607-WA0007](https://user-images.githubusercontent.com/468729/59126514-90780e00-8965-11e9-979a-01d00c73542b.jpg)

Right now, most of my energy goes to [Vocdoni](https://vocdoni.io/), where we're building an end-to-end verif

[2019-06-08 13:43] gregdhill commented on #13
Hey folks, my name's Greg and I'm from Edinburgh, Scotland! For breakfast, I cooked my famous poached eggs with a nice mug of coffee. :coffee:

I graduated from University last year and joined [Monax](https://monax.io/) soon after, focusing on work in the blockchain space - specifically [Hyperledger Burrow](https://github.com/hyperledger/burrow). I love all things decentralized, and IPFS is an inc

[2019-06-10 09:35] gorhgorh commented on #13
Hey all, I'm Jérôme from Paris, France. I had a typical French breakfast, black coffee and fresh bread from the boulangerie.

I'm a bit of an oddball here, as I don't use IPFS, yet, (I'm currently working on a ... badminton training robot!) but I'm on a mission to connect a many cats to the internet as possible, and this should be made in a decentralised way, so I'm looking forward meeting you all

[2019-06-10 09:50] joaosantos15 commented on #13
🇵🇹 Bom dia! 😁

My name is João, and I'm super excited to get to know you all!
I'm based in Lisbon, although I work remotely so I'm always all over the place. Today I had my standard breakfast: A ham sandwich with an ice coffee.

I've used IPFS in the past when building a[ web annotation censorship resistant system](https://github.com/inesc-id/dclaims-pm). Since then I shifted my attention to decen

[2019-06-10 10:00] achingbrain commented on #13
Hi, I'm Alex, a core dev on the JavaScript implementation of IPFS.

I live in London where today, predictably, it's raining.  When I remember to have breakfast it's cereal and a cup of tea - when I forget it's usually croissants from the supermarket next door, which are ok but no doubt vastly inferior to @gorhgorh's boulangerie provided delights.

I'm jazzed about the use of IPFS in low powered co

[2019-06-10 15:26] hsanjuan commented on #13
Hi all, I'm Hector and I mostly take care of the IPFS Cluster (https://github.com/ipfs/ipfs-cluster).

We have been very busy in the team preparing courses and an IPFS Cluster workshop for the camp (join Elective Course B!). We will also run a local Cluster-based pinning service on a bunch of Raspberry Pis.

I'm looking forward to meet you all and very excited to discuss about distributed apps on

[2019-06-10 16:38] terichadbourne commented on #13
Hey, folks! I'm Teri and I'm the lead maintainer and community manager for [ProtoSchool](https://proto.school), a community-driven open source project dedicated to making it easy to get started with decentralized web technologies through interactive tutorials and local community learning events. (We just added our 20th chapter this morning, and we'll be releasing a brand new tutorial later this we

[2019-06-10 17:25] MarneeDear commented on #13
Hi, I am Marnee.

I live in Tucson, Arizona.

For breakfast I had a huge glass of whole, raw milk.

I am interested in two areas of application:

Mesh networks in general, and ham radio emergency communications networks, specifically. I have been designing and developing a system called [FAPRS - F# for APRS](https://github.com/MarneeDear/FAPRS), that you can read more about [here](https://marnee.s

[2019-06-10 19:17] Gozala commented on #13
Hi Everyone,

My name is Irakli Gozalishvili and I'm from Georgia (this one 🇬🇪) currently living in Portland OR. I usually go by @gozala on the internet.

My breakfast was yogurt with some berries, but I don't have a photo of it. So instead I'm going to share a photo of ice creams me & my son enjoyed on our bike ride this weekend. I'm having Shiitake mashroom flavor (which is quite a something) an

[2019-06-10 22:37] ianamunoz commented on #13
Hey everyone I'm Ian and I currently live in Denver,CO,  👋 at all the Coloradans, but moving to Brooklyn after I get back from the camp! 👋 to all future NY neighbors!

I had 'Malt-O-Meal' for breakfast. It's basically porridge but it's heart healthy and sticks with you all day :)

I am really excited about universal file namespaces and how IPFS can help decentralize data which I believe is critica

[2019-06-10 22:38] gpestana commented on #13
Hey hey, I'm Gonçalo :)

I just settled down in London after a period of time between Lisbon and the road. I was raised in a small fisherman town in Portugal called Sesimbra, around 40km south of Lisbon and although I'm pretty excited about moving to London, I always feel slightly homesick. This picture explains it better:

![image](https://user-images.githubusercontent.com/1398860/59229944-d33f1d

[2019-06-11 08:58] anorth commented on #13
Hi all, I'm Alex. I was born in, and am currently still living in, Sydney Australia. I have a looong flight to join you.

Breakfast today, as it is frequently, was avocado on toast. Apparently "invented" in Australia but seems totally normal to me. Yes, I have Vegemite when we run out of avos.

I work on the [Filecoin implementation](https://github.com/filecoin-project/go-filecoin) and am really e

[2019-06-11 12:18] jacobheun commented on #13
Oh, hello! 👋 I'm Jacob, you can also call me Jake, whatever strikes your fancy. I currently live in Germany in the University town of Tübingen.

Breakfast involved a tasty Quarkplunder and black coffee ☕️.

I work on the JS implementation of libp2p and will be running the libp2p workshop at IPFS Camp with @achingbrain and @bigs.

I'm currently excited about resolving the problem space of distribut

[2019-06-11 15:17] parkan opened #39 "Call for 🧬 Sci-Fi Fair 💡 Proposals! 🐙🐙"
## Hello @ipfs/ipfs-camp-2019-attendees 👋

### I have one more task for you!

You might recall prompts for participation like Deep Dives and Lightning Talks from your application, but there is one more track at the Camp where you can show off all the amazing things you've been working on: the **[🧬 Sci-Fi Fair](https://github.com/ipfs/camp/tree/master/SCI-FI_FAIR)**.

**Do you have a cool project t

[2019-06-11 18:22] jdelgadopin commented on #13
Hi, my name is Jordi Delgado and I live in Gracia, a wonderful
neighborhood in Barcelona (it's like 30' far from the venue, train
distance; yeah, no big trip for me).

My breakfast has been a bath in coffee (just like Cleopatra, but no
donkey milk, only coffee), and a madalena. BTW, a madalena is not the
same thing as a muffin or a cupcake.

I've always been interested in decentralized computation

[2019-06-11 19:43] bigs commented on #13
hey all!

i'm cole brown (aka @bigs), a member of the core go-libp2p team. i'll be working with jacob and alex on the libp2p workshop!

i'm excited to meet you all! i came to PL from a distributed computing and networking background, and it's been a real pleasure (and challenge) to work on improving the state of p2p networking.

[2019-06-12 04:37] lanzafame commented on #13
Hello :wave:

I am Adrian Lanzafame (aka @lanzafame), I am usually situated in the South-East region of Queensland Australia. I am a developer on the IPFS Cluster team. I am looking forward to interesting and challenging conversations about IPFS. Other than Cluster, I am working on a basic [dht overlay coordinator package](https://github.com/lanzafame/go-libp2p-dht-overlay).

[2019-06-12 11:03] cesarosum commented on #13
Hi there, I'm Jonathan Budd (@cesarosum), based in London, UK.

No breakfast today, just espresso.

My interest in decentralised technologies and services (including IPFS) stems from working with monolithic systems and infrastructure in large enterprises and seeing their limitations first-hand.

I'm absolutely looking forward to deepening my understanding of IPFS at the camp and seeing what other

[2019-06-12 16:02] daijiale commented on #13
Hello , everyone!

I'm JialeDai, from China , [ Should have met some community friends here before->.](https://github.com/ipfs/team-mgmt/blob/master/meeting-notes/2019/Q2/2019-05-13--ipfs-weekly-call.md).

I have been paying attention to this community and Protocol Labs' technology since 2017 years and made some demo projects like [ipfs-md-wiki](https://github.com/daijiale/ipfs-md-wiki) \ [ipfs-ge

[2019-06-14 14:21] avras commented on #13
Hi,
I am Saravanan Vijayakumaran from Mumbai, India. My friends call me sarva (pronounced sir-waa). I am a [faculty member](https://www.ee.iitb.ac.in/~sarva/about.html) at IIT Bombay.

I had [dosa](https://en.wikipedia.org/wiki/Dosa) with [chutney](https://en.wikipedia.org/wiki/Chutney) and curd for breakfast.

![IMG_20190614_083249](https://user-images.githubusercontent.com/1898322/59514163-ec98e

[2019-06-14 14:32] moul commented on #13
I'm [Manfred](https://manfred.life) from Paris, France 🥖.
I'm currently on the paleo diet, but [This](https://www.radioimagina.cl/2016/07/mama-prepara-platos-creativos-para-que-su-hijo-coma-sano/) is what my breakfast could've looked like when I'm anticipating a hectic (but fruitful) day 🍓 🍌:

![comidasaludable](https://user-images.githubusercontent.com/94029/59515631-d54cf900-8ebf-11e9-996b-3d930

[2019-06-14 17:17] daviddias opened #51 "Arriving at sunny Barcelona early 🌞? Join us at the Barcelona IPFS Meetup Jun 25"
### To welcome everyone that is coming to Barcelona for IPFS Camp and also to have a chance to meet the local IPFS community in Barcelona 🌞

Join us at:

<a href="https://www.meetup.com/barcelona-ipfs/events/262101190/"><img width="684" alt="image" src="https://user-images.githubusercontent.com/1211152/59526020-2f59b880-8ed8-11e9-8d14-133393d274f9.png"></a>

URL: https://www.meetup.com/barcelona-i

[2019-06-15 05:53] daviddias commented on #51
Forgot to tag @ipfs/ipfs-camp-2019-attendees :)

[2019-06-15 16:55] AuHau commented on #13
Hey there!

Adam here (@AuHau), sending greetings from Vizzavona in Corsica, which
marks half of my Corsica's thru hike of GR 20 trail (easy part is done now
the hard and dangers one). But I am originally from Prague, Czech Republic.

My breakfast last five days consists of two cerial bar. Nothing fancy 😅

One of the reasons that I'm excited about IPFS and DWeb is that I believe
it is the future o

[2019-06-15 19:48] momack2 commented on #13
Hey Everyone! 👋 I'm Molly - I work on all things [IPFS Project](https://github.com/ipfs/project) (coordination, priorities, roadmapping, resourcing, etc), so come talk to me about anything and everything related to needs, focus, and direction. I currently live in the Bay Area, but I was actually back in Seattle this weekend where I grew up enjoying this delightful view. Breakfast was a big cappucc

[2019-06-15 20:06] Stebalien commented on #13
**Name:** Steven
**Location:** Bay Area
**Breakfast:** Cereal + Cappuccino
**Why IPFS:** Building the OS of the future (we have a long road ahead of us).
**Camp:** Meeting everyone in the IPFS community and getting more people involved in working on the core protocol.
**Project:** go-ipfs

[2019-06-15 21:31] maparent commented on #13
Hello, all!
My name is Marc-Antoine Parent,
I live in Montréal, and I start most days with espresso and hummus on gluten-free (heh) toast.

I am working on a Hyperknowledge, a protocol for distributed knowledge representation, where a global conceptual graph is built from a stream of statements. I am interested in the distributed web in general to lower the barrier to entry, and in IPLD selectors

[2019-06-16 19:23] glouvigny commented on #13
Hi there,

I'm [Guillaume](https://gui.llau.me/), I'll come to Barcelona from Paris.

Today I woke up late so I skipped the breakfast, but I usually get some toasts and a coffee in the morning. Sadly I hadn't any croissants for a while, I'm not sure they will keep me in France for long.

When I first heard about IPFS it quite excited me because it allows apps reverse the data ownership back to the

[2019-06-17 13:55] alanshaw commented on #13
👋 heyo

I’m Alan, living in London, UK. Coffee and plain old musli was my breakfast today (and most other days too 😁).

One thing I’m really excited about is apps that run in the browser without a central server! Also [many other reasons](https://blog.ipfs.io/meet-the-community-alan-shaw/#why-should-people-be-excited-about-ipfs)!

At camp I’m looking forward to learning about all the awesome thing

[2019-06-17 14:17] Schwartz10 commented on #13
Hey everyone! My name is Jonathan Schwartz, coming to IPFS Camp from NYC.

Today for breakfast - black coffee and a _very_ average omelette.

I get excited about IPFS for several reasons, but one of my favorites is that my parents easily understood it.

Similar to everyone else, I’m looking forward to connecting with people working in this space and learning cool stuff during the electives.

I’m s

[2019-06-17 20:36] leshokunin opened #62 "Design Patterns workshop at IPFS Camp"
Hey,
I had an email thread earlier with @jesseclay @Stebalien @olizilla .
I was wondering if it’d be possible to give a talk at IPFS Camp?

The topic would be Design Patterns for DWeb apps. Ideally I’d love to do a workshop where I do live design, and we solve a real design problem and hopefully people pick up those lessons and I can help implement design during the week.

I’ve done this with Text

[2019-06-17 20:49] momack2 commented on #62
@alanshaw  - this sounds like a deep dive to me (given the interactive, longer-form nature). Can we make it happen? It sounds awesome!

[2019-06-18 00:32] satazor commented on #13
I'm André Cruz and I live in the sunny Porto, Portugal.

My breakfast was a cup of yogurt with cinnamon cookies and blueberries. Yes it's as good as it sounds! 🍪

What excites me more about IPFS is that it's an essential pillar to build decentralized apps, thanks to its distributed storage, automagically discovery, ubiquitous data exchange between peers and so on.

I'm looking forward to participa

[2019-06-18 08:51] aeddi commented on #13
Hi everyone,

My name is Antoine Eddi, I'm currently living in Paris but I come from the south of France :)

I usually have between 3 and 5 coffees along with a toast for breakfast and sometimes. I have a croissant AND a chocolatine 🐓

I have long been interested in all the alternatives to the services offered by the GAFAs, all the ways in which we can take advantage of technological advances whil

[2019-06-18 12:37] KeepItCooley commented on #51
Hi folks! Please see the agenda for the **IPFS Core Dev & Community Meetup** below. We still have more slot available for lightning talks ⚡️and would love to hear from the community!

## Agenda
18:00 - 19:00h: Welcome + Drinks
19:00 - 20:30h: Presentations & Lightning Talks & Q + A
20:30 - 21:30h: Networking + Light Appetizers

## Location
[MOB Bailèn](https://mob-barcelona.com/) (Makers of Barcel

[2019-06-18 17:03] leshokunin commented on #51
I’d love to do a lightning talk. It’d be on the “Dropbox Paper for IPFS”
app I’ve been working on: Permaweb Writer (formerly Epona).

Can we make that happen?

On Tue, Jun 18, 2019 at 05:38 Grace Cooley <notifications@github.com> wrote:

[2019-06-19 14:05] vrortvedt commented on #13
Hi everyone,

I'm Victor Rortvedt and I live in Washington, DC.  I had black coffee and
toast for breakfast, which is super boring I know, but a red fox came
skulking around my yard while I was eating so I think that has to be
included in the whole experiential mix.  I'm new to this industry, having
switched careers last year after a decade practicing law.

My IPFS curiosity flowed from my interes

[2019-06-20 07:48] leshokunin opened #71 "Permaweb Writer lightning talk"
Hey, I presented the idea back at Lab Day during the Lightning Talk.
Now we have a release to showcase, which we've built just in time for IPFS Camp.

We'd be showing Permaweb Writer, which is Dropbox Paper on top of IPFS (and Textile).
We've prepared the first public build, and a feature so we can make presentation slides by writing Markdown. Would love to show it off to people so they can see an

[2019-06-20 07:51] jessicaschilling commented on #71
Would this actually be a great sci-fi fair table, so people can play with it? (We are, as of now, full up on lightning talks.)

[2019-06-20 08:06] tetrisgm commented on #71
It'd be ok. The format of a scifi table would be less informative imho (since we'd like to cover how we think products can be built on ipfs), but it'd be ok. FYI I thought we were in already because I notified a bunch of people about it (Jesse, Stebalien, Olizilla) back in May, so I'd love if we can make it work.

[2019-06-20 11:29] jessicaschilling commented on #71
I think we may have had some crossed wires on our end — let’s see if we can’t squeeze you in (especially considering we may end up with some last-minute cancellations, etc). Can you please let me know your presenter name (you?) and the title of your talk at your earliest convenience, and review the talk guidelines (including due date of Monday) here?: https://github.com/ipfs/camp/blob/master/LIGHT

[2019-06-20 23:28] tetrisgm commented on #71
Hahaha no worries, I know there's a ton going on. That'd be great.
Presenter name: Shokunin.
Title of the talk: Building a Dropbox replacement on IPFS and Textile
Talk guidelines: reviewed! I can be ready for Monday (slides included, though I'm hoping to do a demo from my laptop and show off the actual build too).
Does that work?

[2019-06-21 00:01] jessicaschilling commented on #71
Thank you for the update! The reason that we are requesting all the talks be displayed off one machine is that plugging/unplugging machines adds at least another minute to each talk — and therefore fewer talks can be given. If it’s absolutely essential that a live demo be included rather than video, as described, those folks will be asked to present last to reduce complexity and the chance of thei

[2019-06-21 00:35] tetrisgm commented on #71
No problem, we can skip the live demo. I’ll simply include images! Would be great to demo at the unconf later but I’ll focus on the lightning talk.

[2019-06-22 08:30] tetrisgm commented on #71
Do you have a deck or link to some slides I can use as a starter, or should I just prepare something on my side and send it to you? Where should I send it for Monday?

[2019-06-22 08:32] jessicaschilling commented on #71
No need to use a specific template - just do whatever you feel best. Please just mail it to me: jessica@protocol.ai. Thanks!

[2019-06-22 12:44] alanshaw commented on #62
@leshokunin I've been in contact via email also :) - please send a PR to https://github.com/ipfs/camp/blob/master/DEEP_DIVES/48-design-patterns-for-dweb-apps.md

[2019-06-22 12:44] #62 closed

[2019-06-22 18:44] tetrisgm commented on #71
Just to double check: this takes place during IPFS Camp, not the one during the Meetup, right? I'm landing on the 26th in the morning :)

[2019-06-22 19:48] jessicaschilling commented on #71
Correct 😊

[2019-06-24 03:52] bjoyce3 commented on #13
## Your name
Blake Joyce. I'm the Assistant Director of Research Computing at the University of Arizona. Which is a fancy title that just means I help all the researchers at UA with...uh...computing. We help run the UA HPC machines, have statistics and data visualization consultants, and work on university-wide projects for researchers. I'm an end user of IPFS, and before I became a suit, I was an

[2019-06-24 16:47] momack2 commented on #51
@leshokunin - did you mean to add a github response here? I see:

app I’ve been working on: Permaweb Writer (formerly Epona).
Can we make that happen?

as an email response to this issue, but not reflected on github? We can carve out one additional slot if needed, but no pressure! Just wanted to make sure this wasn't falling through the cracks. =]

[2019-06-24 16:48] momack2 commented on #51
![image](https://user-images.githubusercontent.com/618519/60036889-903f7880-96b0-11e9-8cfc-a615ee9d3f00.png)
^ current agenda

[2019-06-24 17:12] hareeshnagaraj commented on #13
Hi everyone!

My name is Hareesh Nagaraj - currently living in San Francisco, CA but originally from Washington, DC. I work on a decentralized music project called [Audius](https://audius.co/) ([our whitepaper for some more detail](https://whitepaper.audius.co/AudiusWhitepaper.pdf)).

For breakfast I had a **tall** cup of coffee, but am looking forward to a thicc burmese tea leaf salad for lunch :

[2019-06-25 04:47] tetrisgm commented on #51
Looks like @DrCatman and I are arriving on the 26th (Wednesday) in the morning. Any plans to hang in Barcelona during that day? What are people thinking of doing?

[2019-06-26 09:18] stefanhans commented on #13
Hi there 😎,

My name is Stefan from Munich 🌍 🇪🇺

In these days, I did feel a bit dazed and stressed. Thesis, divorce, job, and a list of small but important things were the reason for it.
I put aside all I could afford to ignore for the time being. My garden is probably a symbol for that 😄
![wildgarden](https://user-images.githubusercontent.com/8660482/60161421-dbb06e80-97f7-11e9-93c7-cdaa12f67ca0

[2019-06-26 09:34] mafintosh commented on #13
Hi, I'm Mathias or mostly known as mafintosh online

I've been in the distributed/p2p space for many years now, mostly working on Dat and software in that part of the space.

I'm coming to the camp to catch up with all things IPFS and to try to see what we can do to work closer in the projects across.

Excited to meet you all :)

[2019-06-26 11:04] doctorrobinson opened #100 "Call for 🗣project interviewees 📹🎤"
### Hello fellow campers!

Last year at our developers meetings we had the opportunity to sit down with some of our users to [talk about their projects](https://youtu.be/G3ebPkJaniQ), IPFS and what they love about their work. This year we're looking to expand on that and I need your help to do it.

So this is your chance to talk about the great work you've been doing! I'd like to hear all about yo

[2019-06-26 11:16] daviddias opened #101 "💻 Preparation for Camp 🎒"
Hi y'all @ipfs/ipfs-camp-2019-attendees 👋🏽

We are almost at Camp! YEaaASs 🙌🏽 🙌🏽 🙌🏽 The event starts tomorrow and we are super excited to meet everyone in person!

### We have a tremendous amount of Content ready for you

<img width="1167" alt="Screenshot 2019-06-26 at 13 07 41" src="https://user-images.githubusercontent.com/1211152/60175329-8f732780-9813-11e9-82b4-3285d329a965.png">

### Produced

[2019-06-26 12:12] jimpick commented on #13
Hi, I'm Jim and I'm from Vancouver, Canada, and I'm working with Protocol Labs. I'm super excited to get to see everybody soon!

Some things I've been working on:

* https://peerpad.net
* Experiment: [Signed Exchanges and IPFS](https://github.com/ipfs/integration-mini-projects/issues/3#issuecomment-497837449)
* https://github.com/libp2p/testlab
* I've been having fun with CRDTs + P2P tech lately,

[2019-06-26 12:18] enricomarino commented on #13
Hi everyone!!!
I'm Enrico Marino, from Rome!
I usually have capuccino and toasts with butter and wild berry jam for breakfast,
but I love to taste local traditional dishes when I travel abroad...

I've spent the past 7 years in the academic world (as a researcher)
to researching novel methodologies and technologies to build websites:
actually, I've always been passionate about the Web,
in particul

[2019-06-26 15:04] mikeal commented on #13
Hiya!

I’m Mikeal Rogers. I live in San Francisco

I’ve done too much stuff in the past to list, but right now I’m the team lead for IPLD, which is the data structure layer IPFS uses to store files. Currently I’m working on UnixFSv2 (the next version of IPFS’ file storage structure) and what we are now calling “IPLD Composites” which we’re using to build it.

I’ll be helping @alanshaw in Course A

[2019-06-26 17:27] parkan commented on #13
Hello! I'm @parkan here and most other places.

I primarily work on IPFS collaborations at PL, and for this event I'm helping folks showcase their experiments at the [Sci-Fi Fair](https://github.com/ipfs/camp/tree/master/SCI-FI_FAIR), dialing in the vibe for the [Quiet Room](https://github.com/ipfs/camp/tree/master/QUIET_ROOM), and generally running around and helping out as much as I can!

Before

[2019-06-26 18:34] hinshun commented on #13
Hi all! I'm Edgar, and I currently live in the Bay Area but I'm originally from Hong Kong.

I work on tooling and infrastructure, and in particular, Linux containers at Netflix. I'll be presenting a lightning talk about container image distribution via IPFS, something I've been experimenting with the past few months. You can find the work at https://github.com/hinshun/ipcs.

IPFS is a great combin

[2019-06-26 19:31] #71 closed

[2019-06-26 20:26] ianopolous commented on #100
I could do 20:00 on Friday - Peergos

[2019-06-26 21:47] kanej commented on #13
Hello, I am John Kane from Glasgow in Scotland (if you head north from Winterfell, cross the Wall into the True North then west to the sea you'll soon get there).

I had a cup of tea for breakfast.

Why am I excited about IPFS? Well, providing a global 1st  Amendment right to free speech and thought, through a network protocol that wins by the grinding inevitability of cheap compute, storage and c

[2019-06-27 00:11] MichaelMure commented on #13
Hey people,

I'm Michael Muré, from Strasbourg in France, just on the border with Germany.

I've been toying around distributed app and P2P network for a long time, fascinated by how powerful they can be. We live in a world where the economic incentives have been for a long time in favor a centralization, where massive silo of personal data are created without much control, with all the dangers th

[2019-06-27 05:08] ec1oud commented on #13
Hi,

I'm Shawn Rutledge, from Phoenix Arizona, but have been living in Oslo, Norway for 8 years, working at the Qt Company (formerly known as Digia, Nokia, and Trolltech).  Qt is not doing anything with IPFS (yet!) but Qt includes a very old lightweight HTML implementation called QTextDocument (QTextBrowser is the rendering widget), and I've been adding direct support for markdown to that.

As a s

[2019-06-27 08:18] steven004 commented on #100
I could do at 21:00 on Friday.

@Steven004   IPFS-Force

Best Regards,
Steven

On Thu, Jun 27, 2019 at 4:26 AM Dr Ian Preston <notifications@github.com>
wrote:

[2019-06-27 08:59] rklaehn commented on #100
I can do Saturday, 20:30

@rklaehn [actyx.io](https://www.actyx.io/en/)

Thanks,
Rüdiger

[2019-06-27 10:03] waynewyang commented on #13
Hi ,
I'm Wei Yang, from ShenZhen,China, and I'm working in ARS.
Today my breakfast is bread and egg, with some fruits. but no pictures@

I think IPFS is not only implements distributed storage infrastructure, besides, there are many cool ,common components in IPFS, I like it.

I want to know more about IPFS in IPFS Camp, and perherps disscuss some questions.

 I had analyzed the source code and th

[2019-06-27 10:21] vasa-develop commented on #100
I can do Saturday 21:30 - Cluster Labs(https://clusterlabs.io)

[2019-06-27 10:50] vasa-develop commented on #101
Hi @daviddias

Just to be clear,

1) how many CORE courses can an individual attend?

2) how many ELECTIVE courses can an individual attend?

Thanks ;)

[2019-06-27 11:07] autonome commented on #101
Hi @vasa-develop! Attendees can take all four core courses, and two of the elective courses. You can see how this is scheduled here: https://camp.ipfs.io/schedule/

[2019-06-27 15:01] gritzko commented on #13
Hi!
I'm Victor Grishchenko, I live in Moscow,  Russia.
For breakfast, I had pelmeni. Right, at 4am.
I am generally excited about information- centric networking.
Currently,  I build the Replicated Object Notation. That is like casual trees and Merkle trees combined: CRDT+Crypto.
Suppose,  you need a DecWeb app on top of a distributed real time database.  Or, you'd like to run a wiki on the DecWeb.

[2019-06-27 15:57] requilence commented on #100
Can you please add @apronkin from [Anytype](https://anytype.io) for the last slot at 28th 21:30?

[2019-06-27 16:00] requilence commented on #13
Hey, I'm Roman. I was born in cold Russia but like to be a decentralized in terms of location :) Currently I live in Berlin with my family.

For breakfast, I had a greek yogurt and a poached egg.

I’m working on Anytype. Anytype is an entry point to harness capabilities of a distributed web. With Anytype users can create web pages and software products built on IPFS without coding skills.
One of o

[2019-06-27 16:10] listenaddress commented on #13
Hey y'all! I'm Thomas O'Brien, I live in NYC usually but will be in Barcelona for the next month. If you're gonna be in town, lmk!

I used to work on IPFS storage for Ujo Music, now I'm working at [Open Work Labs](https://openworklabs.com) on a collaboration product on top of IPFS. If you're interested in using IPFS for things like team communication and archiving work, I'd love to chat.

This mor

[2019-06-27 16:59] janjanovna commented on #13
Hi all, I’m Zhanna. Originally I’m from Russia, but last several years I lived in Switzerland, Lithuania, USA and now in Berlin.

For breakfast I had an avocado toast, a poached egg, and an orange juice - it was what Barcelona welcomed me with :)

I’m a big believer in human collaboration, it’s the foundation of everything we achieved as species and what truly is a human trait. That’s why I’m pass

[2019-06-28 05:24] yunigraham opened #107 "Interested in Headshots?"
Hi Campers!

I'm offering free headshots today and tomorrow for anyone who is interested.
These will be taken outside regular workshop hours and I expect to take ~10 minutes, so you won't be missing out on events.

Location will be right outside Mas Bonvilar where you entered the space tunnel :)

If you're interested, please go ahead and sign up in an open slot. If you can't find a slot, comment b

[2019-06-28 07:16] NukeManDan opened #108 "Slides for Core Courses? (and electives?)"
It would be awesome to be able to recap! Can we have the leads for each session add any presentation and supplemental materials? :pray:

[2019-06-28 07:16] hareeshnagaraj commented on #108
+1, this would be great

[2019-06-28 09:53] doctorrobinson commented on #100
Location: Andrea Polli, next to the workshop classrooms

[2019-06-28 10:13] jkarni commented on #100
I could do Saturday at 21:00 ([radicle](https://radicle.xyz/)/Monadic)

[2019-06-28 10:41] doctorrobinson commented on #100
If anyone else is available or interested, please post here. There's likely to be cancellations, or a chance to open up other times!

[2019-06-28 11:10] vojtechsimetka commented on #107
Friday 19:30 but pretty flexible time-wise

@vojtechsimetka
[RIF Storage](https://www.rifos.org/framework/)

[2019-06-28 12:13] yunigraham commented on #107
Hi Vojtech,

Awesome! If you are a bit early before the poster session, we could take 3 - 5 mins to do it in the lounge area of Mas Bonvilar. The lighting in there is pretty great :) Otherwise we can wait til our next break or after the day is done. Just come find me. 🦄

Sent from my iPhone

[2019-06-28 22:33] doctorrobinson commented on #100
![andrea](https://user-images.githubusercontent.com/6369871/60374597-36ea8880-99d3-11e9-8268-46189499a007.jpg)

Location of the room.

[2019-06-29 14:06] cpacia opened #117 "Nat traversal deep dive notes"
https://docs.google.com/document/d/1OH6iCBGRT_uxfYiDIjZOwFahcmNytPuh1-Tu_H6XMKY/edit?usp=drivesdk

[2019-06-29 18:19] daviddias opened #132 "📹 Record a high quality presentation of your project! 📣"
Hi IPFS Campers! We are so pumped by all the amazing projects, lighting talks, Sci-Fi projects and demos that you have been showing throughout the event, that it dawned on us that you might fancy recording a high quality presentation that then can be broadcasted to the entire IPFS Community for multiple generations! How does that sound? :D

We are flexible on time, these can go from 5 to 15 minute

[2019-06-29 19:21] doctorrobinson commented on #132
@daviddias I'm also happy to do 8:00-9:00 in the plenary room if that's preferable, we could get a couple presentations in as we head directly into the start of the day?

[2019-06-29 22:09] vasa-develop commented on #132
Can I send the recording of the video to you, which can be published via ipfs channels? I want to show a few things that aren't built right now, but I will build them in couple of days. Does that sound ok?

[2019-06-29 22:48] satazor commented on #132
Title: Showcasing Identity Manager and Nomios
Contact: @satazor
Length: 10-15m
Preferred time: 10:30am (I will also be reporting on the deep dive)

[2019-06-29 22:49] obo20 commented on #132
Title: IPFS Industry Trends
Contact name (GitHub handle): obo20
Length (5~15 mins): 10
Preferred time: 8:45

[2019-06-29 23:23] daviddias commented on #132
@satazor did you mean 10am or 8am? I've added you for 8:15am, hope that is ok
@obo20 added you for 8:30 (8:45 is when we have to end).

[2019-06-29 23:31] andrewxhill commented on #132
We are in for the latest slot you’ll give us!

[2019-06-29 23:32] aschmahmann commented on #132
@daviddias Can I grab the slot before @satazor/the latest available slot 😄?
Title: Fast IPNS using PubSub
Contact name: @aschmahmann
Length: 5-10min

@andrewxhill beat me to it, so I guess I'll get the slot before him 😆

[2019-06-29 23:39] jbenet commented on #132
I think @janjanovna from Anytype wanted to do this too— will let her comment here

[2019-06-29 23:39] doctorrobinson commented on #132
Hey everyone - I'm about to head to bed, so @daviddias I'll be in Mas Bonvilar at 7:45am and setting up, with expectation of an 8am start. Please schedule people appropriately, and I can also stay after the last session at noon to record a few talks, as I will be taking the shuttle back and don't need to leave promptly at 1pm.

Please be on time - if you're late and it conflicts with another prese

[2019-06-29 23:40] janjanovna commented on #132
I'd love to make a short 5 min demo of Anytype, and would also prefer the latest slot of possible options :)

[2019-06-29 23:42] janjanovna commented on #132
@daviddias So, I'd prefer after the talks tomorrow as you suggested as an option

[2019-06-29 23:49] andrewxhill commented on #132
Staying in Barcelona tomorrow night too so could also go after the main track, no hurry

[2019-06-30 00:00] momack2 commented on #107
Thanks for the gorgeous headshot, @yunigraham!!!

[2019-06-30 00:02] daviddias commented on #132
Hi all! I've updated the schedule accordingly, see my first comment again: https://github.com/ipfs/camp/issues/132#issue-462326929

@andrewxhill @janjanovna moved you to post event session. Please check in with @doctorrobinson when you get to the venue to confirm what time is the best in the afternoon.

[2019-06-30 00:03] doctorrobinson commented on #132
There's a slot at 8:45 for someone (i'll be over there already) or you can both go during lunch, 12-12:30ish pm. I'm going to work under the assumption you'll both go during lunch.

[2019-06-30 00:06] momack2 commented on #132
Not quite on topic, but I'd be happy to just chat/interview after the sessions tomorrow if we aren't super rushed (those of us not heading to the airport).

[2019-06-30 00:41] ianopolous commented on #132
If the 8:45 slot is still free in the morning could we grab that for Peergos? Otherwise anything in the morning. Thank you!

[2019-06-30 01:20] placer14 commented on #132
Title: OpenBazaar presents Decentralized Commerce on Mobile
Contact name: @placer14
Length: 5-10min
Preferred time: I'm not clear where the stops are available, please fit us in wherever if possible. :)

[2019-06-30 01:39] alanshaw opened #138 "Complete your slide for IPFS Camp Deep Dives presentation!"
**Thank you** @satazor, @tanamim, @xhipster, @achingbrain, @ambrevar, @dpetranek, @gritzko, @hsanjuan, @jessicaschilling, @momack2, @carsonfarmer (& team), @ianopolous, @roignpar, @glouvigny, @ma82, @stefanhans, @nukemandan, @kkwong, @wancunl, @gorhgorh, @aschmahmann, @eva, @jonnycrunch, @smihaylov, @adria0, @hannahhoward, @jacobhuen, matilda(?), @olizilla, @mburns, @frankieb, @zhanna, @jnthnvctr,

[2019-06-30 01:39] alanshaw commented on #138
@Kubuxu & team, @autonome & team, @gozala & team, @raulk & team, @lanzafame & team, @jkarni & team, @mib-kd743naq & team, @maparent, @pronkin, @xavivives, @prakash, @leshokunin & team - please complete your deep dive slide for the presentation asap!!!!

https://docs.google.com/presentation/d/105KwT6ZmcneywGnvUyww5y-u_GHSY0FFQ0yIXZQf7Y0

[2019-06-30 05:13] tetrisgm commented on #132
Hi, I’d like to do one (5 minutes) for Permaweb Writer, latest time possible would work :)
@momack2 would love to chat.

[2019-06-30 06:12] daviddias commented on #132
@leshokunin @placer14 @ianopolous would you like to join us at Mas Bonvillar? Just talked with @doctorrobinson and there might be a way to squeeze you in.

[2019-06-30 10:05] jbenet commented on #132
We are going now, and have some space — if you were interested and haven’t gone, come to Mas Bonvillar (the main stage).

@rklaehn did you want to talk about or demo Actyx?

[2019-07-01 09:42] daviddias commented on #132
Thank you all for preparing a presentation for this recording. We really appreciate it and the community will do as well as soon as they get to see the presentations :D

Closing this issue for now. All the IPFS Camp recordings will be broadcasted through the IPFS Youtube Channel ~~https://www.youtube.com/user/ipfs~~ https://www.youtube.com/channel/UCdjsUXJ3QawK4O5L1kqqsew and http://camp.ipfs.io/

[2019-07-01 09:42] #132 closed

[2019-07-01 09:43] #138 closed

[2019-07-01 13:10] aschmahmann commented on #132
@daviddias that youtube channel is definitely incorrect, do you mean https://www.youtube.com/channel/UCdjsUXJ3QawK4O5L1kqqsew?

[2019-07-01 16:38] doctorrobinson opened #141 "📹 Camp Media 📹"
For anyone who participated in a lightning talk, deep dive, or interview, I'll be posting media here and tagging y'all. Thanks for being a part of everything!

**Milestone 1:**
- [x] 30 of 31 Lightning Talks [public on youtube](https://www.youtube.com/playlist?list=PLuhRWgmPaHtQVNQcBaCKg5kKhfOBv45Jb) (includes project demos)
- [x] 23 of 23 Poster Projects [public on youtube](https://www.youtube.co

[2019-07-01 16:38] doctorrobinson commented on #100
Closing this issue and moving media feedback to thread https://github.com/ipfs/camp/issues/141 for both sci-fi and interviews.

[2019-07-01 16:38] #100 closed

[2019-07-01 18:22] daviddias commented on #132
Thank you @aschmahmann!

[2019-07-02 15:00] #39 closed

[2019-07-02 15:00] #51 closed

[2019-07-02 15:00] #101 closed

[2019-07-02 15:00] #107 closed

[2019-07-09 09:44] #117 closed

[2019-07-12 17:25] doctorrobinson commented on #132
@leshokunin let me know when that demo is ready! We're aiming to get these talks out next week!

[2019-07-17 03:32] doctorrobinson commented on #141
Hey everyone - just a quick bump that we've got the majority of the videos on Youtube unlisted right now from your lightning talks and poster sessions. Some may get updated based on requests, so keep in mind I can't guarantee the URLs are permanent yet (womp womp).

We're aiming to release a blog post later this week and the videos will go public then, so if you have any updates you'd like made in

[2019-07-22 15:54] daviddias commented on #141
@ipfs/ipfs-camp-2019-attendees The first batch of content is out, check it at:

- This repo https://github.com/ipfs/camp
- https://twitter.com/IPFSbot/status/1153235396576325632
- https://blog.ipfs.io/2019-07-22-ipfs-camp-content-first-batch/

Huge hi5 to @doctorrobinson and team for shipping all these recordings in record time 🏎 🏁

[2019-07-31 22:29] doctorrobinson commented on #141
More content Wednesday! Deep Dives are alive! Check the [read.me](https://github.com/ipfs/camp/blob/master/README.md) for specific links to specific videos.

- [x] 25 of 28 Deep Dives [live](https://www.youtube.com/playlist?list=PLuhRWgmPaHtTkiVb-pfIb9Lk7VLWp4Giq)

[2019-08-22 19:24] terichadbourne commented on #108
Agreed! I've actually been connecting with some of the course leaders to track these down lately as a I work on [figuring out which content would be a good fit for ProtoSchool](https://github.com/ProtoSchool/protoschool.github.io/issues/261), so I'd be happy to start a PR to add the ones I've located so far and we can go from there.

[2019-08-23 22:28] autonome commented on #108
From the course dirs here in this repo. Most have installation and prep notes, but not links to slides.

* [x] Elective A: Identity on the DWeb - @satazor | @paulobmarcos | @joaosantos15
* [x] Elective B: Managing pinsets with IPFS Cluster - @hsanjuan | @meiqimichelle | @lanzafame
* [ ] ~Elective C: Cat roulette! - @gorhgorh~ _didn't have slides_
* [x] Elective D: Building DApps with Textile - @ba

[2019-08-24 11:35] hsanjuan commented on #108
Added Elective B.

[2019-09-03 11:20] satazor commented on #108
Added Elective A slides: https://github.com/ipfs/camp/pull/181

[2019-09-04 17:58] carsonfarmer commented on #108
We already had links to our slides in our README, but I've added an explicit link and mention there now to help folks find them! Thanks for the prompt 👍

[2019-09-04 21:22] doctorrobinson commented on #141
Links to all the rest of the content - watch it before the rest of the world (and let me know if you see anything that needs to be updated!)

Molly's Great Recap
[Introduction to IPFS Camp - Molly Mackinlay](https://youtu.be/cQJXnJDbXv4)

[IPFS Camp 2019 - Courses](https://www.youtube.com/playlist?list=PLuhRWgmPaHtSsHMhjeWpfOzr8tonPaePu)
Core
[Understanding how the InterPlanetary File System deals

[2019-09-05 13:57] terichadbourne commented on #108
@carsonfarmer I see a "Slides and materials" link within the Elective D repo that goes here: https://github.com/textileio/ipfs-camp-2019, but once I'm there it's not obvious to me where to find the slides. I tried clicking into the "workshop" folder there but there's still nothing jumping out at me. Do you have a link that goes directly to a slide deck by chance?

[2019-09-05 14:11] terichadbourne commented on #108
I've just merged an edit to the ipfs/camp readme to update the table to surface links to slides. Already included are all core courses and electives A and F. There's a PR open to add those for electives B & H (#182) and I'm not able to find my way to the slide deck for D.

When adding links to slide decks moving forward, please be sure to add them both within your course repos and in this primary

[2019-09-10 21:29] nuke-web3 commented on #141
@doctorrobinson can all the videos be listed as public and put in playlists on youtube?

[2019-09-11 01:51] doctorrobinson commented on #141
@NukeManDan I'm waiting on a little more comms info on my end before I flip them. Aiming for Thursday;  I'll follow up here if the schedule changes. For now they're all able to be shared individually.

[2019-09-11 05:03] momack2 commented on #141
"Space Training Program and Camp Content" - https://www.youtube.com/watch?v=crTa1j3FRac - doesn't seem super relevant/useful to folks who weren't at IPFS camp (esp starting off with congrats on being accepted =/). @daviddias - what are your thoughts there?

This course content is AMAZING! Like, SO AMAZING. But the interviews are also super cool. I think they each need their own blog post. Maybe @t

[2019-09-11 07:06] daviddias commented on #141
Some times playlists on Youtube are wonky. When I opened the url you shared I saw the ProtoSchool workshop.

That said, I agree, we should optimize to highlight the really useful bits of content for those who weren't there.

It would be cool to have at the top of each section on https://github.com/ipfs/camp README, a link to the playlist for that section of content. We can then repurpose that READ

[2019-09-11 14:06] terichadbourne commented on #141
I'm so confused right now. If I log out I can see all of our normal playlists (including one for each weekly call) but when I log in almost all of those don't exist. 🤷‍♀️

I think @momack2 may have pasted the wrong link. I get this when I click on @doctorrobinson's link to @daviddias' intro talk, "Space Training Program and Camp Content": https://www.youtube.com/watch?v=AJvng8Z2W2I&feature=youtu.b

[2019-09-11 14:19] momack2 commented on #141
Probs wrong link - sorry!

Yes to updating the readme but I personally don’t think using that for a
blog post is particularly compelling or useful - just link to the readme if
they’d be the same. I imagine more as you describe - diving deep on the
most useful courses and then giving enough description of each deeper dive
course that the right folks find and watch. These are all amazing resources
-

[2019-09-11 14:36] terichadbourne commented on #108
We're missing slide decks for these elective courses. Could the leaders please let us know if there are decks available to share?
- @gorhgorh - Cat Roulette
- @b5 - Managing Datasets with QRI
- @obo20  @mburns @Kubuxu - Deploying IPFS Infrastructure

- @carsonfarmer @balupton @andrewxhill** Building DApps with Textile
I'm personally still having trouble finding the slide deck for this one despite

[2019-09-11 14:36] terichadbourne commented on #141
Sure, I'm happy to take that on. I'll block some time on Friday to get a first draft together, and may need some help tweaking my description for courses I didn't get to.

[2019-09-11 14:41] b5 commented on #108
Hi @terichadbourne,

Apologies, Our elective didn't have a deck that would make sense outside of the course itself.  Hope that helps!

[2019-09-11 14:44] terichadbourne commented on #108
Gotcha. Thanks for the update @b5!

[2019-09-11 16:18] doctorrobinson commented on #141
I moved David's Welcome and Intro to the end of the playlist as opposed to removing it entirely - there's some good data points on attendance and some people may enjoy seeing it again. I've moved Juan's why IPFS talk to the first one in the playlist.

To track deliverables:
- [x] Update read.me to include playlists and video links (today) - @doctorrobinson
- [x] Write blog post highlighting course

[2019-09-12 07:32] gorhgorh commented on #108
hi there @terichadbourne catroulette elective course did not really had slides, this is a terminal based workshop.

[2019-09-12 13:49] terichadbourne commented on #108
Thought that might be the case, @gorhgorh. Thanks so much for confirming!

[2019-09-12 18:44] terichadbourne commented on #141
@doctorrobinson Is there by any chance a folder where I could find images of all the title slides you put together for the courses? I was considering the possibility of embedding some of them in a post, clickable to start the video. As far as I know it's not possible to actually embed YouTube videos in GitHub-flavored markdown so you just have to paste an image that looks like it's a video control

[2019-09-12 20:58] doctorrobinson commented on #141
@terichadbourne let me do a little troubleshooting - that's a great idea and I'll see what options we have.

[2019-09-13 18:13] terichadbourne commented on #141
@doctorrobinson For the video for Core Course A ([Understanding how the InterPlanetary File System deals with files](https://youtu.be/dJ7TkB4UpZ8)), can we please remove the word "the" from the title overlaid on the video? Once we abbreviate IPFS it doesn't make sense. I assume we should also change "Files" to "files"?

[2019-09-13 19:14] doctorrobinson commented on #141
@terichadbourne I can do that.

As a heads up, youtube is pretty unfriendly when it comes to updating items like this - I'll need to reupload, so the link will change, and we'll have to update all the places it's linked from and lose any analytics. In this case it's not public yet, it's not a big deal, but we'll want to identify any of these changes before videos go public.

Emphasizing that this

[2019-09-13 20:51] terichadbourne commented on #141
Thanks @doctorrobinson!

@momack2 I have a rough draft of the courses post that's not quite done but is close enough for you (and others) to get a good sense of the structure and tone I have in mind. Would love feedback on that stuff before I wrap this up early next week. Please throw any suggestions into this PR: https://github.com/ipfs/blog/pull/300

@doctorrobinson I hacked a rough solution the

[2019-09-16 14:19] terichadbourne commented on #141
I've finished up my blog post draft for the core course video release in ipfs/blog#300 and would appreciate a review!

[2019-09-16 20:40] momack2 commented on #141
@parkan - would you like to take a pass at the blog post for the sci-fi fair content and keynotes given you helped organize? I think Teri's model - to highlight ~2 videos of each type with a clickable image and a paragraph about why to be excited / key takeaways - is a good exemplar.

@doctorrobinson - I think we should flip the courses live first, but hold the other content for another ~week to h

[2019-09-17 02:15] doctorrobinson commented on #141
@terichadbourne The title cards are [here](https://drive.google.com/drive/folders/1pKbsjYJlZiFuiMceJHxB5mLrFVvPWtra) if you still need them. I've updated the IPFS file handling video and put it on [youtube](https://youtu.be/Z5zNPwMDYGg).

I'll review your post in the morning and check links (and update any broken ones), as well as flip all courses live.

Thanks for knocking this out!

[2019-09-17 13:54] terichadbourne commented on #141
Thanks @doctorrobinson. Fixing the post now to update that video link. I've also opened PR #184 to add video links to the main camp readme. Mind taking a look to make sure I didn't have any copy/paste fails?

[2019-09-17 15:49] doctorrobinson commented on #141
Checked - there's one link that needs to be updated but otherwise looks great!

[2019-09-17 21:54] obo20 commented on #108
Hey all, sorry for the delay on this. I just saw this in my email inbox. Here's a link to our slides
[Deploying IPFS Infrastructure - IPFS Camp.pdf](https://github.com/ipfs/camp/files/3623595/Deploying.IPFS.Infrastructure.-.IPFS.Camp.pdf)

[2019-09-18 18:48] terichadbourne commented on #141
Just a heads up that we're getting some complaints in YouTube comments about not having the video feeds directly from projectors (whole room shots making the screens hard to see). I've responded to a couple with links to where they can find slide decks, just flagging here as feedback for next time.
![image](https://user-images.githubusercontent.com/19171465/65176659-3d612d00-da23-11e9-8ad0-49eb4c6

[2019-09-18 19:00] parkan commented on #141
yep happy to do this!

EDIT: actually from a content visibility perspective I think that separate posts for Sci-Fi fair and keynotes would be better, maybe someone else can pick up the keynotes post?

[2019-09-18 21:29] parkan commented on #141
@doctorrobinson @raulk did we not get a vid with Actyx or Jerome’s catbot/minitel, or the npm-in-a-box? I was hoping to use one of those as the lead vid since they’re the most visually interesting and likely to catch attention (Hector’s RPi segment is very good too but I was hoping to lead with community members)

[2019-09-19 15:31] daviddias commented on #141
That's unfortunate, but the truth is that we didn't account or intent to record the course, it was an add-on as a last minute trainers request from the trainers that wanted to watch each other's courses.

It might be wise to unlist those and just link them to the repo, so that then don't stain the reputation of the awesome quality of the remaining recordings

[2019-09-19 16:09] doctorrobinson commented on #141
Spoke with @parkan already, but we did not get Actyx or catbot for sci-fi. We ended up running out of time, and many of the participants were crazy busy. I think in the future if we do this again we should plan a little time during prep and breakdown to finish interviews. It was a lot for Raul to do on top of all the stuff he was already doing, so having a second interviewee might also be helpful.

[2019-09-19 17:18] parkan commented on #141
agreed re: designated "press preview" window, was thinking the same thing through all the videos

will fill in missing projects with photos/shouts in the post (though we don't seem to have any clear Actyx photos either??)

[2019-09-19 23:38] momack2 commented on #141
[image: MVIMG_20190629_190025 (1).jpg]
<https://photos.google.com/search/spain/photo/AF1QipNetaNI6SPpAKNsnuM20P81RGQ0_iHHEgVUUgUh>

On Thu, Sep 19, 2019 at 10:18 AM Arkadiy Kukarkin <notifications@github.com>
wrote:

[2019-09-23 15:21] parkan commented on #141
getting a 404 on this

[2019-09-23 16:26] momack2 commented on #141
![MVIMG_20190629_190025 (2)](https://user-images.githubusercontent.com/618519/65444103-39972700-dde4-11e9-9e9f-551f3bf10b77.jpg)
Aww, it didn't insert. Here it is ^^

[2019-09-23 16:47] doctorrobinson commented on #141
That was the lightning talk - we've got the raw footage of that if you want it, or you can snag tidbits from it [here](https://www.youtube.com/watch?v=Qzu0xtCT-R0&list=PLuhRWgmPaHtQVNQcBaCKg5kKhfOBv45Jb&index=16&t=0s)

[2019-09-23 18:19] parkan commented on #141
@momack2 thanks, that works — want to make sure folks that worked hard don’t feel super left out, so this is a good nod

[2019-09-24 19:35] doctorrobinson commented on #141
@parkan SciFI videos have been updated:
[SciFi Fair - MetaMask - Aaron Davis (Kumavez)](https://youtu.be/7HDVgjQnNdM)
[SciFi Fair - ENS Service - Makoto](https://youtu.be/8aC4eaI7Lx4)
[SciFi Fair - Berty - ](https://youtu.be/B3fUHtdVBn0)
[SciFi Fair - Janus - Solange](https://youtu.be/hRTBQd_o1oM)
[SciFi Fair - RPi Cluster - Héctor Sanjuán](https://youtu.be/7pFf5gUnQ24)
[SciFi Fair - Textile Photo

[2019-09-24 23:26] doctorrobinson commented on #141
@parkan can you also add a blurb about interviews to your post? You can view them here:
https://f.io/-DbJJ8_t

I'l be uploading them to youtube first thing tomorrow.

[2019-09-25 18:48] doctorrobinson commented on #141
The interviews can be viewed here:
[Audius - Hareesh Nagaraj](https://youtu.be/3pSV6ai6QUI) @hareeshnagaraj
[IPFS Force - Steven Li](https://youtu.be/KsMqesFi4Ac) @steven004
[World Brain - Oliver Sauter](https://youtu.be/e1YfSa2_Drc) @blackforestboi
[Radicle & Monadic - Julian Arni](https://youtu.be/UCDHMKC8Seg) @jkarni
[Netflix Containers - Edgar Lee](https://youtu.be/wNfk05D887M) @hinshun

For t

[2019-09-25 20:23] parkan commented on #141
great, should have the draft ready later today

[2019-09-26 02:17] parkan commented on #141
draft here: https://github.com/ipfs/blog/pull/307

@doctorrobinson how do you want the community interviews linked? I think a playlist may be easiest?

[2019-10-09 21:44] terichadbourne commented on #108
Thanks for that link @obo20. I've added this to your repo.

@doctorrobinson kindly added links to all videos from both the course listings and each course's repo for all that have videos (elective H doesn't).

We technically now have links to slide decks for all that had them (electives C and G didn't), although I still find the slide deck for elective D hard to surface.

@carsonfarmer @balupton @

[2019-10-09 21:55] terichadbourne commented on #141
I just merged a bunch of PRs from @doctorrobinson to add video links for courses and playlists for other types of sessions to various readmes, so I checked that off in the to do list above.

Just circling around to see what still needs to be done to close out this issue. Look's to me like the [blog post on the SciFi Fair](https://blog.ipfs.io/2019-10-03-ipfs-camp-sci-fi-fair-videos/) did not also

[2019-10-09 22:10] doctorrobinson commented on #141
These were split into separate blog posts - Molly wrote the majority of the keynotes and interviews, so it's in one of the [PRs to be merged](https://github.com/ipfs/blog/pull/308#issuecomment-539170951)

[2019-10-09 23:50] momack2 commented on #141
Yep! Edits welcome. Want to space it out a bit from sci-fi fair (now that
our blog is working again), so planning to post on Monday. I think that’s
our last ipfs camp post!

On Thu, Oct 10, 2019 at 7:10 AM Zak <notifications@github.com> wrote:

[2019-10-10 14:28] terichadbourne commented on #141
Doh! Guess we just figured out which repo I'm not subscribed to. 😂 I'll
try to take a quick look later today. 🎉

On Wed, Oct 9, 2019 at 7:50 PM MollyM <notifications@github.com> wrote:

--
*Teri Chadbourne, CMP*
Community Manager & Lead Maintainer, ProtoSchool <https://proto.school>
Protocol Labs <https://protocol.ai/>

Twitter <https://twitter.com/eventteri> | GitHub
<https://github.com/terichadb

[2019-10-16 21:51] doctorrobinson commented on #141
All camp media is now shipped - check the [IPFS blog](https://blog.ipfs.io/) or [IPFS Youtube](https://www.youtube.com/channel/UCdjsUXJ3QawK4O5L1kqqsew) for all the content!

[2019-10-16 21:51] #141 closed

[2019-10-17 07:23] daviddias commented on #141
Really awesome work team! ❤️

[2019-10-21 13:36] daviddias opened #198 "Camp needs to indicate it was a 2019 event"
From @whyrusleeping report:
<img width="635" alt="image" src="https://user-images.githubusercontent.com/1211152/67209837-6147d200-f418-11e9-8138-d8132158bbff.png">

@cwaring can you push a fix for this?

[2019-12-03 10:31] #198 closed

[2019-12-11 20:12] terichadbourne commented on #108
Quick update: @carsonfarmer is working on a PDF of the slide deck for Elective D for us so we can make it a little easier to locate. 🎉

Once we get that shared we should be able to close out this issue.

[2019-12-12 08:33] 0zAND1z commented on #108
Great!

For everybody's benefit in this thread, here is the PR: https://github.com/ipfs/camp/pull/199

[2019-12-12 14:49] terichadbourne commented on #108
All available slides and videos for core and elective courses are now linked both from the [main course listings](https://github.com/ipfs/camp#-core--elective-courses--youtube-playlist) and from individual course repos. Thanks to all the instructors for making these resources available!

[2019-12-12 14:49] #108 closed

[2020-02-05 23:31] reqsa1990 commented on #107
hai